.dark {
    background-color: #222;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

#player-content-dark {
    position: relative;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 30px 80px #222;
    border-radius: 15px;
    z-index: 2;
}

.switch {
    align-self: flex-end;
    margin: 0.9375rem;
    z-index: 10;
    position: relative;
}

.inner-switch {
    display: inline-block;
    cursor: pointer;
    border: 1px solid #555;
    border-radius: 1.25rem;
    width: 3.125rem;
    text-align: center;
    font-size: 1rem;
    padding: 0.1875rem;
    margin-left: 0.3125rem;
}